.profile {
    width: 400px;
    margin: 10px;
    padding-top: 10px;
    background-color: #eeeeee;
    box-shadow: 6px 6px 3px #aaaaaa;
    border-radius: 6px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 200px;
    padding-top: 10px;
    border-radius: 40% / 20%;
    border: 8px ridge #00cfff;
    background-color: #fff;
}

.name {
    margin: 5px auto;
    font-size: 24px;
    font-weight: 600;
    color: #0004ff;
}

.tag {
    margin: 5px auto;
    font-size: 20px;
} 

.stats {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.stats li{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
    background: linear-gradient(to top right, #eeeeee, #aaaaaa);
}

.stats li:first-child{
    border-bottom-left-radius: 6px;
}

.stats li:last-child{
    border-bottom-right-radius: 6px;
}

.label {
    font-size: 18px;
}

.quantity {
    font-size: 24px;
    font-weight: 600;
}


