.table {
    width: 1000px;
    margin: 10px;
    padding: 50px;
    background-color: #555555;
    color: #00ff00;
    box-shadow: 6px 6px 3px #aaaaaa;
    border-collapse: collapse;
}

.table thead {
    font-size: 40px;
    background-color: #1e0ee0;
    color: #ffff00;
}


.table th,
.table td {
    padding: 10px;
    font-size: 32px;
    text-align: center;
    border: 1px solid #111111;
}

.table tr:nth-child(2n) {
    background-color: #333333;
}

.table td:first-child {
    text-transform: capitalize;
    text-align: left;
    padding-left: 100px;
}